<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orders</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <link rel="stylesheet" href="/styleSheets/font.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=orders" />
</head>

<body class="bg-[#d8e2dc]">

  <div class="max-w-md mx-auto pb-20 pt-6 sm:px-6 px-4 bg-[#f8f9fa] min-h-screen ">
    <h1 class="text-4xl font-bold mb-6">Your Orders</h1>

      <%if(userOrder.length> 0){%>
        <% userOrder.forEach(function(order) { %>
          <div class=" rounded-2xl bg-zinc-200/40 mb-5 p-5">
            <div class="mb-2">
              <h1 class="text-2xl font-semibold text-blue-700">Bid Category: 2x Reward</h1>
              <span class="text-md text-zinc-500">
                <%= order.time.toDateString() %>
              </span>
            </div>

            <div class="mb-3">

              <%if(order.color==='blue'){%>
                <p class="text-lg text-zinc-800">Color Chosen: <span class="font-semibold text-blue-600">
                    <%= order.color %>
                  </span></p>
                <%}else if(order.color==='red' ){%>
                  <p class="text-lg text-zinc-800">Color Chosen: <span class="font-semibold text-red-600">
                      <%= order.color %>
                    </span></p>
                  <%}%>
                    <p class="text-lg text-zinc-800">Amount Bid: <span class="text-green-600 font-semibold">
                        ₹ <%= order.amount %>
                      </span></p>
            </div>

            <div class="border-t pt-2">
              <p class="text-lg text-zinc-700">
                Result: Not yet
              </p>
            </div>
          </div>
          <% });%>
            <% } else { %>

              <p class="text-lg text-zinc-800 mt-24 ml-5">No orders Yet.</p>
              <%}%>



  </div>



  <div class="fixed bottom-0 left-0 right-0 bg-gradient-to-r from-blue-800 to-black text-white flex justify-around
    items-center h-14 rounded-t-2xl sm:max-w-md sm:mx-auto">
    <a href="/" class="text-xl">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
      </svg>
    </a>
    <a href="/Main/wallet" class="text-xl"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z" />
      </svg>
    </a>
    <a href="/Main/orders" class=" p-2 rounded-2xl bg-zinc-100/30 text-white">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M3.75 12h16.5m-16.5 3.75h16.5M3.75 19.5h16.5M5.625 4.5h12.75a1.875 1.875 0 0 1 0 3.75H5.625a1.875 1.875 0 0 1 0-3.75Z" />
      </svg>

    </a>
    <a href="/Main/profile" class="text-xl"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
      </svg>
    </a>
  </div>



</body>

</html>