<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Jaro:opsz@6..72&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
    </style>
</head>

<body style="font-family: 'Poppins';" class="min-h-screen  bg-[#f1faee]">
  <div class="max-w-[540px] m-auto ">

    <div class="m-4 p-4 bg-[#1A2036] border border-[#32374A] rounded-xl">
      <div class="flex flex-col justif-center items-center ">
        <div class="h-24 w-24 bg-purple-600 rounded-full overflow-hidden"> 
          <img src="images/logo.jpg" class="w-full" alt="">
        </div>
        <h1 class="font-bold bg-gradient-to-r from-purple-500 to-blue-500 text-transparent bg-clip-text">
          test
        </h1>
        <h2 class="text-zinc-300">
         test@gmail.com
        </h2>
      </div>

      <div class="flex justify-around mt-3">
        <div class="text-zinc-300 flex flex-col justify-center items-center w-24">
          <h1 class="text-2xl font-bold bg-clip-text bg-gradient-to-r from-orange-500 to-red-500 text-transparent">
            300
          </h1>
          <h1>XP</h1>
        </div>

        <hr class="h-[50px] w-[1px] bg-zinc-700 border-none">


        <div class="text-zinc-300 flex flex-col justify-center items-center w-24">
          <h1 class="text-2xl font-bold bg-clip-text bg-gradient-to-r from-orange-500 to-red-500 text-transparent">
           0
          </h1>
          <h1>Joined</h1>
        </div>

        <hr class="h-[50px] w-[1px] bg-zinc-700 border-none">

        <div class="text-zinc-300 flex flex-col justify-center items-center w-24">
          <h1 class="text-xl font-bold bg-gradient-to-r from-purple-500 to-blue-500 text-transparent bg-clip-text">
            120
          </h1>
          <h1>Rupees</h1>
        </div>
      </div>
    </div>

    <div class="m-4 p-4 bg-[#1A2036] border border-[#32374A] rounded-xl text-white">
      <div class="mb-2 flex justify-between">
        <h1>Player Level</h1>
        <h1 class="text-2xl font-bold bg-clip-text bg-gradient-to-r from-orange-500 to-red-500 text-transparent">Level
          1
        </h1>
      </div>
      <div class="w-full bg-gray-800 rounded-full h-2">
       
          <div class="h-2 rounded-full bg-gradient-to-r from-purple-500 to-blue-500" style="width: 9%"></div>
        
      </div>

      <h1 class="mt-2">
       50
      </h1>
    </div>

    <div class="m-4 p-4 bg-[#1A2036] border border-[#32374A] rounded-xl text-white ">

      <a href="" class="flex justify-between items-center">
        <div class="flex items-center gap-5">
          <div class="bg-[#312C5C] rounded-full p-2"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M16.5 18.75h-9m9 0a3 3 0 0 1 3 3h-15a3 3 0 0 1 3-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-.871M7.5 18.75v-3.375c0-.621.504-1.125 1.125-1.125h.872m5.007 0H9.497m5.007 0a7.454 7.454 0 0 1-.982-3.172M9.497 14.25a7.454 7.454 0 0 0 .981-3.172M5.25 4.236c-.982.143-1.954.317-2.916.52A6.003 6.003 0 0 0 7.73 9.728M5.25 4.236V4.5c0 2.108.966 3.99 2.48 5.228M5.25 4.236V2.721C7.456 2.41 9.71 2.25 12 2.25c2.291 0 4.545.16 6.75.47v1.516M7.73 9.728a6.726 6.726 0 0 0 2.748 1.35m8.272-6.842V4.5c0 2.108-.966 3.99-2.48 5.228m2.48-5.492a46.32 46.32 0 0 1 2.916.52 6.003 6.003 0 0 1-5.395 4.972m0 0a6.726 6.726 0 0 1-2.749 1.35m0 0a6.772 6.772 0 0 1-3.044 0" />
            </svg>
          </div>
          <div class="">
            <h1>History</h1>
            <h2 class="text-zinc-300">View your bid history</h2>
          </div>
        </div>

        <div class="text-zinc-300"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>
        </div>
      </a>
    </div>

    <div class="m-4 p-4 bg-[#1A2036] border border-[#32374A] rounded-xl text-white ">

      <a href="/leaderboard" class="flex justify-between items-center">
        <div class="flex items-center gap-5">
          <div class="bg-[#312C5C] rounded-full p-2"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
        </svg>

          </div>
          <div class="">
            <h1>Leader Board</h1>
            <h2 class="text-zinc-300">Explore the Players With Highest Winning Amount</h2>
          </div>
        </div>

        <div class="text-zinc-300"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>
        </div>
      </a>
    </div>

    <div class="m-4 p-4 bg-[#1A2036] border border-[#32374A] rounded-xl text-white">
      <a href="#" onclick="openSettings(event)" class="flex justify-between items-center">

        <div class="flex items-center gap-5">
          <div class="bg-[#312C5C] rounded-full p-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.325.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 0 1 1.37.49l1.296 2.247a1.125 1.125 0 0 1-.26 1.431l-1.003.827c-.293.241-.438.613-.43.992a7.723 7.723 0 0 1 0 .255c-.008.378.137.75.43.991l1.004.827c.424.35.534.955.26 1.43l-1.298 2.247a1.125 1.125 0 0 1-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.47 6.47 0 0 1-.22.128c-.331.183-.581.495-.644.869l-.213 1.281c-.09.543-.56.94-1.11.94h-2.594c-.55 0-1.019-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 0 1-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 0 1-1.369-.49l-1.297-2.247a1.125 1.125 0 0 1 .26-1.431l1.004-.827c.292-.24.437-.613.43-.991a6.932 6.932 0 0 1 0-.255c.007-.38-.138-.751-.43-.992l-1.004-.827a1.125 1.125 0 0 1-.26-1.43l1.297-2.247a1.125 1.125 0 0 1 1.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.086.22-.128.332-.183.582-.495.644-.869l.214-1.28Z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
          </div>
          <div class="">
            <h1>Settings</h1>
            <h2 class="text-zinc-300">Account settings and preferences</h2>
          </div>
        </div>

        <div class="text-zinc-300">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>
        </div>
      </a>
    </div>


      <div class="m-4 p-4 bg-[#1A2036] border border-[#32374A] rounded-xl text-white">

        <a href="/logout" class="flex justify-between items-center">

          <div class="flex items-center gap-5">
            <div class="bg-[#442738] rounded-full p-2 text-red-600"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
              </svg>

            </div>
            <div class="">
              <h1 class="text-red-600">Logout</h1>
              <h2 class="text-zinc-300">Sign out of your account</h2>
            </div>
          </div>

          <div class="text-zinc-300"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
          </div>
        </a>
      </div>



      <div class="h-24 "></div>

  </div>
  <%- include('./footer/footer') %>