<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styleSheets/font.css">
</head>

<body class="bg-[#00FFFF]">
    <div class="max-w-[540px] m-auto ">
        <div class="">
            <h1>Color Clash</h1>
            <a href=""></a>
        </div>
    </div>
<%- include('./footer/footer') %>